<div class=headers>
    <h1>ARTICLES & PRODUCTS</h1>
</div>

<div>
    <h2><a href="/articles">Articles</a></h2>
    <form action="/articles" method="post">
        Title: <input type="text" name="title"><br>
        Body: <input type="text" name="body"><br>
        Author: <input type="text" name="author"><br>
        <input type="submit" value="Submit New Article">
    </form>
</div>

<div class="products">
    <h2><a href="/products">Products</a></h2>
</div>