<div class="frontpage">
    <div class=headers>
        <h1>ARTICLES & PRODUCTS</h1>
    </div>

    <div class="links">
        <div class="articlesLink">
            <h2><a href="/articles">Articles</a></h2>
        </div>

        <div class="productsLink">
            <h2><a href="/products">Products</a></h2>
        </div>
    </div>

</div>