<form action="/products" method="post">
    <a href="/">Home</a>
    <a href="/products">Go to List</a>
    <h3>Create New Product</h3>
    Name: <input type="text" name="name"><br>
    Price: <input type="text" name="price"><br>
    Inventory: <input type="text" name="inventory"><br>
    <input type="submit" value="Submit New Product">
</form>